<p id="notice"><%= notice %></p>
<h1>Catalog Store</h1>
<% @products.each do |product| %>
    <div class="entry">
      <td><%= link_to product_path(product) do %>
            <% image_tag(product.images[0] ? product.images[0].url(:thumb) : image_url('no-image.png'), width: 250) %>
        <% end %>
      <h3><%= product.title %></h3>
      <%= sanitize(product.description) %>
      <div class="price_line">
        <span class="price"><%= number_to_currency(product.price) %></span>
      </div>
    </div>
<% end %>